<footer>
	
	<div class="footer-top">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pd5"> 
					<div class="box-footerservice">
						<div class="">
							<div class="pull-left icon-service"><i class="fa fa-truck"></i></div>
							<h3 class="footerservice-title">Miễn phí vận chuyển</h3>
							<div class="footerservice-content"> Cho Đơn Đặt Hàng Từ 500 nghìn VNĐ</div>
						</div>
					</div>
				</div>
				
				
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pd5">
					<div class="box-footerservice">
						<div class="">
							<div class="pull-left icon-service"><i class="fa fa-cog"></i></div>
							<h3 class="footerservice-title">Hoàn 100% tiền mua hàng</h3>
							<div class="footerservice-content">Trong Vòng 3 Ngày Khi Spid Nhận Hàng</div>
						</div>
					</div>
				</div>
				
				
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pd5">
					<div class="box-footerservice">
						<div class="">
							<div class="pull-left icon-service"><i class="fa fa-phone"></i></div>
							<h3 class="footerservice-title">Đặt hàng trực tuyến</h3>
							<div class="footerservice-content">Liên Hệ Đặt Hàng Qua 0902.68.1122</div>
						</div>
					</div>
				</div>
				
				
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pd5">
					<div class="box-footerservice last">
						<div class="pull-left">
							<p class="hotline-title">Hotline</p>
							<span class="hotline-note">Hỗ trợ trực tuyến: </span>
						</div>
						<div class="hotline-phone pull-right"><p>0902.68.11.22</p></div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
	<div class="footer-center">
		<div class="container">
			<div class="row">
			
				<div class="col-width-20 col-md-4 col-sm-6 col-xs-12 pd5">
					<div class="box-footer-colum">
						<h3 class="">Liên Kết</h3>
						<div class="social">
							<ul class="footer-list-menu">
								<li>Hãy kết nối với chúng tôi.</li>
							</ul>
							<ul class="list-unstyled clearfix">
								
								<li class="facebook">
									<a target="_blank" href="https://www.facebook.com/spid.vn/" class="fa fa-facebook"></a>
								</li>
								
								
								
								
								
								<li class="youtube">
									<a class="fa fa-youtube" target="_blank" href="https://www.youtube.com/channel/UCq8n13f8fm5uj6cdrCCJI6Q?view_as=subscriber"></a>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
				
				
				<div class="col-width-20 col-md-4 col-sm-6 col-xs-12 pd5">
					<div class="box-footer-colum">
						<h3 class="">Đăng ký nhận ưu đãi</h3>
						<ul class="footer-list-menu">
							<li>Hãy đăng ký email của bạn để cập nhật thông tin khuyến mãi nhanh nhất.</li>
						</ul>	
						<div class="box-formsendemail mt10">  
							<form accept-charset="UTF-8" action="/account/contact" class="contact-form" method="post">
								<input name="form_type" type="hidden" value="customer">
								<input name="utf8" type="hidden" value="✓">
								<input type="hidden" id="contact_tags" name="contact[tags]" value="khách hàng tiềm năng,Bản tin">
								<input type="hidden" id="newsletter-first-name" name="contact[first_name]" value="Người đăng ký">
								<input type="hidden" id="newsletter-last-name" name="contact[last_name]" value="">
								<div class="newsletter-form">
									<input type="email" placeholder="Nhập email của bạn.." name="contact[email]" id="mail" class="form-control">                
									<button type="submit" class="btn">Gửi</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</footer>