@media (min-width: 1200px) {
    .filter-box {
        margin-top: 5px;
        background: #f3f3f3;
        border: 1px solid #efefef;
        padding: 0px 10px 5px;
    }
}

.fa {
    color: #fff;
}

.breadcrumb, .product-buttons {
    .fa {
        color: inherit;
    }
}