.no-pad-r, .pd5 {
    padding-right: 0;
}

@media (min-width: 1200px) {
    .box-section-collection .col-left-index {
        width: 370px;
        float: left;
    }
    .box-section-collection .col-right-index {
        width: calc(100% - 370px);
        float: left;
    }
}

.fa {
    color: #fff;
}