
<nav class="navbar-main navbar navbar-default cl-pri">
	<!-- MENU MAIN -->
	<div class="container nav-wrapper">
		<div class="row">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" id="trigger">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="pull-right mobile-menu-icon-wrapper">					
					<div class="logo logo-mobile">
						<a href="https://www.spid.vn" title="Đồ Phượt Bảo Hộ Biker SPID">
							<img src="//theme.hstatic.net/1000058451/1000279067/14/logo.png?v=39" alt="Đồ Phượt Bảo Hộ Biker SPID">
						</a>
					</div>
					<ul class="mobile-menu-icon clearfix">
						<li class="search">
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle icon-search" data-toggle="dropdown" aria-expanded="false"></button>
								<div class="dropdown-menu" role="menu">
									<div class="search-bar">
										<div class="">
											<form class="col-md-12" action="/search">
												<input type="hidden" name="type" value="product">
												<input type="text" name="q" placeholder="Tìm kiếm...">
											</form>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li id="cart-target" class="cart">
							<a href="/cart" class="cart " title="Giỏ hàng">
								<span class="fa fa-shopping-cart"></span>							
								<span id="cart-count">0</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<div class="clearfix border-bottom-menu" style="border:none">
					<div class="title-menu-slider" id="event-hover-slider">
						<svg class="svg-icon-size-15 svg-icon-bg svg-icon-inline" style="fill:#fff">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-listmenu"></use>
						</svg>
						<span>Danh mục sản phẩm</span>
					</div>
					<ul class="nav navbar-nav clearfix">
						
						
						<li class="">
							<a href="/" class=" current" title="Trang Chủ">Trang Chủ</a>
						</li>
						
						
						
						<li class="">
							<a href="/pages/about-us" class="" title="Giới thiệu">Giới thiệu</a>
						</li>
						
						
						
						<li class="">
							<a href="https://www.facebook.com/spid.vn/" class="" title="Facebook">Facebook</a>
						</li>
						
						
						
						<li class="">
							<a href="/pages/lien-he" class="" title="Liên hệ">Liên hệ</a>
						</li>
						
						
						
						<li class="">
							<a href title="Hỗ trợ mua hàng" class="">Hỗ trợ mua hàng <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu submenu-level1-children" role="menu">
								
								
								<li class="">
									<a href="/pages/giao-nhan-thanh-toan" title="Giao Nhận - Thanh Toán">Giao Nhận - Thanh Toán</a>
									
								
								
								</li><li class="">
									<a href="/pages/doi-tra-hang" title="Đổi Trả hàng">Đổi Trả hàng</a>
									
								
								
								</li><li>
									<a href="/pages/cau-hoi-thuong-gap" title="Câu Hỏi Thường Gặp">Câu Hỏi Thường Gặp</a>
									
								
							</li></ul>
						</li>
						
						
						
						<li class="">
							<a href="/blogs/news" class="" title="Blog">Blog</a>
						</li>
						
						
					</ul>
				</div>				
			</div>
		</div>
	</div>
</nav>

<section class="hidden-lg">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 pd-none-767">
				<div class="box-slider-mobile">
					<div class="owl-carousel owl-theme owl-hidden owl-loaded">
						
						
						
						
					<div class="owl-stage-outer"><div class="owl-stage" style="width: 400px; transform: translate3d(0px, 0px, 0px); transition: 0s;"><div class="owl-item active" style="width: 100px; margin-right: 0px;"><div class="item">
							<a href="https://spid.vn/collections/onsale">
								<img src="//theme.hstatic.net/1000058451/1000279067/14/slider_index_1_1.jpg?v=39">
							</a>
						</div></div><div class="owl-item" style="width: 100px; margin-right: 0px;"><div class="item">
							<a href="https://spid.vn/collections/onsale">
								<img src="//theme.hstatic.net/1000058451/1000279067/14/slider_index_1_2.jpg?v=39">
							</a>
						</div></div><div class="owl-item" style="width: 100px; margin-right: 0px;"><div class="item">
							<a href="//haravan.com/ref=nobita-1">
								<img src="//theme.hstatic.net/1000058451/1000279067/14/slider_index_1_3.jpg?v=39">
							</a>
						</div></div><div class="owl-item" style="width: 100px; margin-right: 0px;"><div class="item">
							<a href="//haravan.com/?ref=nobita-1">
								<img src="//theme.hstatic.net/1000058451/1000279067/14/slider_index_1_4.jpg?v=39">
							</a>
						</div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""><svg class="svg-icon-size-30 svg-icon-bg svg-icon-inline" style="fill:#404040;"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-left-owlCarousel"></use></svg></div><div class="owl-next" style=""><svg class="svg-icon-size-30 svg-icon-bg svg-icon-inline" style="fill:#404040;"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-right-owlCarousel"></use></svg></div></div><div class="owl-dots" style=""><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div></div></div></div>
				</div>
			</div>
		</div>
	</div>
</section>