<section class="hidden-lg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 pd-none-767">
                <div class="box-slider-mobile">
                    <div class="owl-carousel owl-theme owl-loaded">




                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="width: 400px; transform: translate3d(0px, 0px, 0px); transition: 0s;">
                                <div class="owl-item active" style="width: 100px; margin-right: 0px;">
                                    <div class="item">
                                        <a href="https://spid.vn/collections/onsale">
                                            <img src="//theme.hstatic.net/1000058451/1000279067/14/slider_index_1_1.jpg?v=39">
                                        </a>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 100px; margin-right: 0px;">
                                    <div class="item">
                                        <a href="https://spid.vn/collections/onsale">
                                            <img src="//theme.hstatic.net/1000058451/1000279067/14/slider_index_1_2.jpg?v=39">
                                        </a>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 100px; margin-right: 0px;">
                                    <div class="item">
                                        <a href="//haravan.com/ref=nobita-1">
                                            <img src="//theme.hstatic.net/1000058451/1000279067/14/slider_index_1_3.jpg?v=39">
                                        </a>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 100px; margin-right: 0px;">
                                    <div class="item">
                                        <a href="//haravan.com/?ref=nobita-1">
                                            <img src="//theme.hstatic.net/1000058451/1000279067/14/slider_index_1_4.jpg?v=39">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-controls">
                            <div class="owl-nav">
                                <div class="owl-prev" style=""><svg class="svg-icon-size-30 svg-icon-bg svg-icon-inline" style="fill:#404040;"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-left-owlCarousel"></use></svg></div>
                                <div class="owl-next" style=""><svg class="svg-icon-size-30 svg-icon-bg svg-icon-inline" style="fill:#404040;"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-right-owlCarousel"></use></svg></div>
                            </div>
                            <div class="owl-dots" style="">
                                <div class="owl-dot active"><span></span></div>
                                <div class="owl-dot"><span></span></div>
                                <div class="owl-dot"><span></span></div>
                                <div class="owl-dot"><span></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="slider" class="hidden-md hidden-sm hidden-xs" style="background: #ffffff;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="ps-relative">
                    <ul class="menu-list-slider">






                        <li>
                            <span class="list-icon-img">
								<img src="//theme.hstatic.net/1000058451/1000279067/14/slider_index_link_1_1.png?v=39" alt="">
								<img src="//theme.hstatic.net/1000058451/1000279067/14/slider_index_link_1_2.png?v=39" alt="">
							</span>
                            <a href="/collections/onsale" title="Khuyến Mãi HOT">Khuyến Mãi HOT</a>
                        </li>







                        <li data-bgcolor="#ffffff" data-linkcolor="#b6cb24">
                            <span class="list-icon-img">
								<img src="//theme.hstatic.net/1000058451/1000279067/14/slider_index_link_2_1.png?v=39" alt="">
								<img src="//theme.hstatic.net/1000058451/1000279067/14/slider_index_link_2_2.png?v=39" alt="">
							</span>
                            <a href="/collections/ban-chay-nhat" title="Bán Chạy Nhất">Bán Chạy Nhất</a>
                        </li>







                        <li data-bgcolor="#ffffff" data-linkcolor="#26bddb">
                            <span class="list-icon-img">
								<img src="//theme.hstatic.net/1000058451/1000279067/14/slider_index_link_3_1.png?v=39" alt="">
								<img src="//theme.hstatic.net/1000058451/1000279067/14/slider_index_link_3_2.png?v=39" alt="">
							</span>
                            <a href="/collections/mu-bao-hiem" title="Mũ Bảo Hiểm">Mũ Bảo Hiểm<i class="fa fa-angle-right" aria-hidden="true"></i></a>

































                            <ul class="dropdown-menu slider-menu-children" style="min-width:220px">




                                <li style="width:220px">

                                    <ul class="">
                                        <li class="menu-level2"><a href="/collections/" title="Loại mũ">Loại mũ</a></li>

                                        <li class="menu-level3"><a href="/collections/mu-3-4" title="Mũ 3/4">Mũ 3/4</a></li>

                                        <li class="menu-level3"><a href="/collections/mu-fullface" title="Mũ Fullface">Mũ Fullface</a></li>

                                        <li class="menu-level3"><a href="/collections/mu-lat-ham" title="Mũ Lật Hàm">Mũ Lật Hàm</a></li>

                                        <li class="menu-level3"><a href="/collections/mu-dual-sport" title="Mũ Dual Sport">Mũ Dual Sport</a></li>

                                    </ul>






                                    <ul class="">
                                        <li class="menu-level2"><a href="/collections/" title="Hiệu Mũ">Hiệu Mũ</a></li>

                                        <li class="menu-level3"><a href="/collections/mu-andes" title="Mũ Andes">Mũ Andes</a></li>

                                        <li class="menu-level3"><a href="/collections/mu-bulldog" title="Mũ Bulldog">Mũ Bulldog</a></li>

                                        <li class="menu-level3"><a href="/collections/mu-ls2" title="Mũ LS2">Mũ LS2</a></li>

                                        <li class="menu-level3"><a href="/collections/mu-ego" title="Mũ EGO">Mũ EGO</a></li>

                                        <li class="menu-level3"><a href="/collections/mu-yohe" title="Mũ Yohe">Mũ Yohe</a></li>

                                        <li class="menu-level3"><a href="/collections/mu-shark" title="Mũ Shark">Mũ Shark</a></li>

                                        <li class="menu-level3"><a href="/collections/mu-zeus" title="Mũ Zeus">Mũ Zeus</a></li>

                                        <li class="menu-level3"><a href="/collections/mu-royal" title="Mũ Royal">Mũ Royal</a></li>

                                    </ul>






                                    <ul class="">
                                        <li class="menu-level2"><a href="/collections/" title="Phụ kiện mũ">Phụ kiện mũ</a></li>

                                        <li class="menu-level3"><a href="/collections/kinh-goggles" title="Kính/Goggles">Kính/Goggles</a></li>

                                    </ul>



                                </li>
                            </ul>
                        </li>







                        <li data-bgcolor="#ffffff" data-linkcolor="#ff4f4f">
                            <span class="list-icon-img">
								<img src="//theme.hstatic.net/1000058451/1000279067/14/slider_index_link_4_1.png?v=39" alt="">
								<img src="//theme.hstatic.net/1000058451/1000279067/14/slider_index_link_4_2.png?v=39" alt="">
							</span>
                            <a href="/collections/kinh-goggles" title="Kính/Goggles">Kính/Goggles</a>
                        </li>







                        <li data-bgcolor="#ffffff" data-linkcolor="#c652a3">
                            <span class="list-icon-img">
								<img src="//theme.hstatic.net/1000058451/1000279067/14/slider_index_link_5_1.png?v=39" alt="">
								<img src="//theme.hstatic.net/1000058451/1000279067/14/slider_index_link_5_2.png?v=39" alt="">
							</span>
                            <a href="/collections/ao-quan-bao-ho" title="Áo-Quần Bảo Hộ">Áo-Quần Bảo Hộ</a>
                        </li>







                        <li data-bgcolor="#ffffff" data-linkcolor="#b5cb24">
                            <span class="list-icon-img">
								<img src="//theme.hstatic.net/1000058451/1000279067/14/slider_index_link_6_1.png?v=39" alt="">
								<img src="//theme.hstatic.net/1000058451/1000279067/14/slider_index_link_6_2.png?v=39" alt="">
							</span>
                            <a href="/collections/giay-bao-ho" title="Giày Bảo Hộ">Giày Bảo Hộ</a>
                        </li>







                        <li data-bgcolor="#ffffff" data-linkcolor="#26bddb">
                            <span class="list-icon-img">
								<img src="//theme.hstatic.net/1000058451/1000279067/14/slider_index_link_7_1.png?v=39" alt="">
								<img src="//theme.hstatic.net/1000058451/1000279067/14/slider_index_link_7_2.png?v=39" alt="">
							</span>
                            <a href="/collections/gang-tay-bao-ho" title="Găng Tay Bảo Hộ">Găng Tay Bảo Hộ<i class="fa fa-angle-right" aria-hidden="true"></i></a>


















                            <ul class="dropdown-menu slider-menu-children" style="min-width:220px">




                                <li style="width:220px">

                                    <ul class="">
                                        <li class="menu-level2"><a href="/collections/gang-tay-dai-ngon" title="Găng Tay Dài Ngón">Găng Tay Dài Ngón</a></li>

                                    </ul>






                                    <ul class="">
                                        <li class="menu-level2"><a href="/collections/gang-tay-ngan-ngon" title="Găng Tay Ngắn Ngón">Găng Tay Ngắn Ngón</a></li>

                                    </ul>






                                    <ul class="">
                                        <li class="menu-level2"><a href="/collections/gang-tay-alpinestars" title="Găng Tay Alpinestars">Găng Tay Alpinestars</a></li>

                                    </ul>



                                </li>
                            </ul>
                        </li>







                        <li data-bgcolor="#ffffff" data-linkcolor="#c652a3">
                            <span class="list-icon-img">
								<img src="//theme.hstatic.net/1000058451/1000279067/14/slider_index_link_8_1.png?v=39" alt="">
								<img src="//theme.hstatic.net/1000058451/1000279067/14/slider_index_link_8_2.png?v=39" alt="">
							</span>
                            <a href="/collections/bo-goi-giap-lung" title="Bó Gối-Giáp Lưng">Bó Gối-Giáp Lưng</a>
                        </li>







                        <li data-bgcolor="#ffffff" data-linkcolor="#ff4f4f">
                            <span class="list-icon-img">
								<img src="//theme.hstatic.net/1000058451/1000279067/14/slider_index_link_9_1.png?v=39" alt="">
								<img src="//theme.hstatic.net/1000058451/1000279067/14/slider_index_link_9_2.png?v=39" alt="">
							</span>
                            <a href="/collections/phu-kien" title="Phụ Kiện">Phụ Kiện</a>
                        </li>







                        <li data-bgcolor="#ffffff" data-linkcolor="#b5cb24">
                            <span class="list-icon-img">
								<img src="//theme.hstatic.net/1000058451/1000279067/14/slider_index_link_10_1.png?v=39" alt="">
								<img src="//theme.hstatic.net/1000058451/1000279067/14/slider_index_link_10_2.png?v=39" alt="">
							</span>
                            <a href="/pages/dich-vu-sua-chua-bao-hanh-mu" title="Dịch Vụ">Dịch Vụ</a>
                        </li>


                    </ul>
                    <div class="carousel-custom">
                        <carousel>
                            <slide>
                                <img src="//theme.hstatic.net/1000058451/1000279067/14/slider_index_1_1.jpg?v=39" alt="First slide" style="display: block; width: 100%;">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3>First slide label</h3>
                                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                </div>
                            </slide>
                            <slide>
                                <img src="//theme.hstatic.net/1000058451/1000279067/14/slider_index_1_1.jpg?v=39" alt="First slide" style="display: block; width: 100%;">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3>First slide label</h3>
                                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                </div>
                            </slide>
                        </carousel>
                    </div>


                    <div class="box-banner">

                        <div class="item-list-banner active">

                            <div class="" style="border-color: #ffffff;">
                                <a href="https://spid.vn/products/tui-dung-non-chong-tham">
                                    <img src="//theme.hstatic.net/1000058451/1000279067/14/slider_banner_1_1.jpg?v=39" alt="">
                                </a>
                            </div>


                            <div class="">
                                <a href="https://www.spid.vn/products/day-rang">
                                    <img src="//theme.hstatic.net/1000058451/1000279067/14/slider_banner_1_2.jpg?v=39" alt="">
                                </a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>